__pycache__/
*.pyc
.venv/
.env
.DS_Store
.ipynb_checkpoints/

# Models
models/*.keras
models/*.h5

# Dataset ảnh lớn
data/raw/*
!data/raw/.gitkeep

data/test_original/*
!data/test_original/.gitkeep

data/processed/*
!data/processed/.gitkeep

data/test_images/*
!data/test_images/.gitkeep

# Output train/evaluate
outputs/*
!outputs/.gitkeep

tests/sample_fruit/